html,body{height:100%;}

html > body div#controls {
    left:  0;
    width:  auto;
}

.centered {
    text-align: center;
    display: block;
    height: 100%;
}

.left-presentation-image, 
.right-presentation-image,
.center-presentation-image {
    position: fixed;
    z-index: -1;
}

.left-presentation-image {
    left: 4%;
}
.right-presentation-image { 
    right: 4%;
}

.center-presentation-image { 
    left: 36%;
    top: 120px;
}

.markPresentationalText {
    display: block;
} 

.visible, p {
    display: block;
    margin: 0.5em 0;
}

.hidden {
    display: none;
}

.layout #footer {
    background-position: 98% 50%;
    background-color: white;
}
div#header {
    background-color: transparent;
    border: 0;
}

div#footer {
    height: 35px;
}

div#controls form {
    position: relative;
    height: 40px;
    width: 130px;
    top: 17px;
}

.presentation { 
    height: 100%;
}
#presentation_help_message {
    position: fixed;
    top: 25%;
    padding: 0.5em;
    background: #FFF;
    z-index: 5;
}


#slide0 {
    top: 0;
}

#slide0 h1 {
    text-align: right;
    margin: 0;
    padding-bottom: 2em;
}

#slide0 .mainImage {
    text-align: center;
}

#slide0 .mainImage img {
    width: auto;
}

html > body .slide {
    overflow: auto;
    max-height: 75%;
    margin: 0em 2em 0 2em;
    font-size: 0.70em;
    padding: 1em;
    top: 90px;
}

.ie8 .slide { 
    top: 70px;
    max-height: 73%;
}

.slide img {
    max-height:  17em;
    height: auto;
}

iframe {
    display: block;
}

.slide h1 {
    text-align: left;
    padding: 0.5em;
    position: fixed;
    width: 100%;
    display: block;
    background: white;
    border-bottom: 10px solid #6fbfbd;
}
