html > body div#controls {
  left:  0;
  width:  auto;
}

.layout #footer {
  background-position: right;
  background-color: white;
}

#slide0 .mainImage {
  text-align: center;
}

#slide0 .mainImage img {
  width: auto;
}

html > body .slide {
  overflow: auto;
  max-height:  69%;
}

.slide img {
  width:  100%;
}

iframe {
  display: block;
}

.slide h1 {
    position: relative;
    text-align: left;
    padding: 0.3em 0;
}

.presentation {
    height: 100%;
    position: fixed;
    width: 100%;
    margin-top: 3em;
}
