/* @override
    http://localhost:8080/4/portal_css/Sunburst%20Theme/public.css
    http://localhost:8080/sprites/portal_css/Sunburst%20Theme/public.css
*/


/* +++++++++++++++++++++++++++++++
 * SUNBURST DESIGN-SPECIFIC STYLES
 * +++++++++++++++++++++++++++++++
 */

/* @group Basics */
h2 a, h3 a, h4 a {
    border-bottom: none !important;
}

a:focus img {
    outline: thin dotted;
}

dt {
    font-weight: bold;
}

input {
    font-family: "Lucida Grande", Arial, FreeSans;
}

q {
    quotes: "“" "”" "‘" "’";
}

sup,
sub {
    height: 0;
    line-height: 1;
    vertical-align: baseline;
    _vertical-align: bottom;
    position: relative;
}

sup {
    bottom: 1ex;
}

sub {
    top: 0.5ex;
}

/* @end */


/* @group Navigation/search */
#portal-personaltools a:hover {
    color: white;
}



/* Collapsible elements in search_form */

.collapsible .collapser.collapsed {
    padding-right: 14px;
    background: url('arrowRight.png') center right no-repeat;
}

.collapsible .collapser.expanded {
    padding-right: 14px;
    background: url('arrowDown.png') center right no-repeat;
}
/* @end */

/* @group Path indicator (breadcrumbs) */

.breadcrumbSeparator {
    color: #666666;
}

/* @end */


/* @group Site actions */

#portal-siteactions {
    font-size: 85%;
    text-align: center;
}

#portal-siteactions li a:hover {
    color: #75ad0a
}

/* @end */


/* @group Listings */

a.link-parent {
}

a.link-anchor {
    border: none !important;
    color: Black !important;
    cursor: default !important;
}

#content a.link-overlay {
    border-bottom: 1px dotted #205c90 !important;
}

dl dt .documentByLine {
    font-weight: normal;
}

dl dt span.summary a {
    border: none !important;
}

/* @end */


/* @group Content Area */

#content {
    line-height: 1.5em;
    clear: both;
}

/* Special case of #content - TinyMCE */
body#content {
    margin: 1em;
}

#content h1 {
    margin-top: 0.5em;
}

#content h1.documentFirstHeading {
    margin-top: 0;
}

#content p,
#content table,
#content dl,
dl.portlet p,
dl.portlet {
    margin-bottom: 1em;
}


#content a:target {
    background-color: #ffb;
}

#content span.link-external a {
    background: transparent url(link_icon.png) 0px 1px no-repeat;
    padding: 1px 0px 1px 16px;
}

#category {
    font-size: 75%;
    margin-bottom: 1em;
    color: #666;
    text-align: right;
}

#category a.link-category, span.selectedTag {
    color: black;
    padding: 0.25em 0.5em;
    background: #ddd;
    border-radius: 0.5em;
    -webkit-border-radius: 0.5em;
    -moz-border-radius: 0.5em;
}

#category a.link-category:hover {
    background: #205c90;
    color: White;
    border-color: #205c90;
}

#category .separator {
    display: none;
}

#content dt {
    font-weight: bold;
    margin-bottom: 0;
    margin-right: 0;
}

#content-core dd {
    margin: 0 0 1em 2em;
}

#content pre,
.portletStaticText pre {
    background-color: #222;
    color: White;
    font-family: Consolas, Inconsolata, Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
    padding: 1em;
    overflow-x: auto;
    font-size: 90%;
    margin-bottom: 1em;
    line-height: 1.25em;
}

#content pre.python,
.portletStaticText pre.python {
    background-color: White;
}

#content code,
.portletStaticText code {
    font-family: Consolas, Inconsolata, Menlo, "DejaVu Sans Mono", "Bitstream Vera Sans Mono", "Courier New", monospace;
}

#content table {
    text-align: left;
    border-collapse: collapse;
    border-spacing: 0px;
}

#content .documentDescription,
#content #description {
    color: #666;
    margin-left: 0;
    font: bold 1.25em "Helvetica Neue", Arial, FreeSans, sans-serif;
}

#content div.newsImageContainer a {
    border-bottom: none;
}

#content div.newsImageContainer p.discreet {
    margin: 0;
    padding: 0.5em;
    background-color: #666;
    background-color: rgba(40,40,40,0.7);
    color: White;
    font-weight: bold;
    position: relative;
    width: 190px;
    top: -3em;
}

/* For event view template, changed headerless table to headings and divs,
 * for better accessibility.  */

#content .eventDetails {
    border-color: #CCCCCC;
    border-style: solid;
    border-width: 0.08em;
    width: 22em;
    margin-top: 1em;
}

#content .eventDetails h2 {
    background-color: #DDDDDD;
    font-size: 100%;
    letter-spacing: 0;
    padding: 0.5em;
    padding-left: 1em;
}

#content .eventDetails .eventDetail h3,
#content .eventDetails .eventDetail div {
    padding: 2%;
}

#content .eventDetails .eventDetail h3 {
    float: left;
    font-size: 100%;
    text-align: right;
    width: 37%;
}

#content .eventDetails .eventDetail div {
    float: left;
    width: 55%;
}
/* @end */


/* @group Image alignment classes */

/*note: the tricky thing here is that image-inline|image-left|image-right
can both be on an image and a wrapper element e.g. a dl tag*/
img.image-left,
img.image-right,
.captioned img {
    border: 1px solid #ddd;
}

dd.image-caption {
    text-align: left;
    padding: 0 0 0 3px;
 /*image padding+border with*/
    margin: 0;
    color: #666;
    font-size: 85%;
}

/* @end */


/* @group Footer */

#portal-footer {
    font-size: 75%;
    background: #ddd;
    padding: 1em;
    margin: 1em 0;
    line-height: 2em;
}

#portal-colophon {
    font-size: 70%;
    text-align: center;
    margin-bottom: 1em;
}

#portal-colophon li {
    padding: 0 0.75em;
}

#portal-colophon a {
    color: #444;
}

/* @end */
